PyQt6
langchain
langchain-community
langchain-ollama
pypdf
pytesseract
Pillow
pandas
tesseract
plotly
networkx
pdf2image
nltk
numpy
matplotlib
seaborn
nbformat
python-docx
openpyxl
pywin32
opencv-python
requests
python-Levenshtein
evaluate
PyMuPDF